{% extends ajax is defined and ajax ? "empty.html.twig" : "base.html.twig" %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}
    {% if ajax is not defined or not ajax %}
        {% trans %}New issue{% endtrans %}
    {% endif %}
{% endblock %}

{% block body %}
    <h1>{% trans %}Create new issue{% endtrans %}</h1>

    {{ form_start(form) }}
    <div class="form-group row">
        <div class="field col-md-12">
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="field col-md-12">
            {{ form_label(form.title) }}
            {{ form_widget(form.title) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="field col-md-12">
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="field col-md-12">
            {{ form_label(form.category) }}
            {{ form_widget(form.category) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="field col-md-12">
            {{ form_label(form.tags) }}
            {{ form_widget(form.tags) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="field col-md-12">
            {{ form_label(form.solved) }}
            {{ form_widget(form.solved) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="field col-md-12">
            {{ form_label(form.solvedAt) }}
            {{ form_widget(form.solvedAt) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="field col-md-12">
            {{ form_label(form.attachment) }}
            {{ form_widget(form.attachment) }}
        </div>
    </div>


    {% if ajax is not defined or not ajax %}
        <div class="form-group row">
            <div class="field col-md-12">

                <button class="btn btn-success">{% trans %}Save{% endtrans %}</button>
                <a href="{{ path('issue_index') }}" class="btn btn-light">{% trans %}Back to list{% endtrans %}</a>
            </div>
        </div>
    {% endif %}

    {{ form_end(form) }}
{% endblock %}
