{% extends 'base.html.twig' %}

{% block title %}Issue{% endblock %}

{% block body %}
    <h1>Issue</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{% trans %}Code{% endtrans %}</th>
                <td>{{ issue.code }}</td>
            </tr>
            <tr>
                <th>{% trans %}Category{% endtrans %}</th>
                <td>{{ (issue.category ? issue.category : '-') }}</td>
            </tr>
            <tr>
                <th>{% trans %}Client email{% endtrans %}</th>
                <td>{{ issue.email }}</td>
            </tr>
            <tr>
                <th>{% trans %}Title{% endtrans %}</th>
                <td>{{ issue.title }}</td>
            </tr>
            <tr>
                <th>{% trans %}Description{% endtrans %}</th>
                <td>{{ issue.description }}</td>
            </tr>
            <tr>
                <th>{% trans %}Tags{% endtrans %}</th>
                <td>{{ issue.tags |join(', ')   }}</td>
            </tr>
            <tr>
                <th>{% trans %}Created at{% endtrans %}</th>
                <td>{{ issue.createdAt ? issue.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{% trans %}Solved{% endtrans %}</th>
                <td>
                    {% if issue.solved %}
                        <span style="color: Green;">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </span>
                    {% else %}
                        <span style="color: Red;">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{% trans %}Solved at{% endtrans %}</th>
                <td>{{ issue.solved ? (issue.solvedAt ? issue.solvedAt|date('Y-m-d H:i:s') : '') : '' }}</td>
            </tr>
            <tr>
                <th>{% trans %}Attachment{% endtrans %}</th>
                <td>
                    {% if issue.attachmentName is not empty %}
                        <a href="{{ asset('uploads/attachments/' ~ issue.attachmentName) }}" target="_blank">
                            {% trans %}View attachment (PDF){% endtrans %}
                        </a>
                    {% else %}
                        {% trans %}Not attachment found.{% endtrans %}
                    {% endif %}
                </th>
            </tr>
            <tr>
                <th>{% trans %}user{% endtrans %}</th>
                <td>{{ (issue.user ? issue.user : '-') }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('issue_index') }}" class="btn btn-light">{% trans %}Back to list{% endtrans %}</a>

    <a href="{{ path('issue_edit', {'id': issue.id}) }}" class="btn btn-primary">{% trans %}Edit{% endtrans %}</a>

    <a href="{{ url('issue_delete', {'id': issue.id }) }}" onclick="return confirm('¿Estás seguro que deseas borrarlo?')" class="btn btn-danger">
        <i class="fa fa-close"></i> {% trans %}Delete{% endtrans %}
    </a>
{% endblock %}
