{% extends 'base.html.twig' %}

{% block title %}{% trans %}Tags{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Tags{% endtrans %}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{% trans %}Name{% endtrans %}</th>
                <th>{% trans %}Description{% endtrans %}</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr>
                <td>{{ tag.name }}</td>
                <td>{{ tag.description }}</td>
                <td>
                    <a href="{{ path('tag_edit', {'id': tag.id}) }}" class="btn btn-secondary btn-sm">
                        {% trans %}edit{% endtrans %}
                    </a>
                    <a href="{{ path('tag_delete', {'id': tag.id}) }}" class="btn btn-danger btn-sm">
                        {% trans %}delete{% endtrans %}
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{% trans %}No tags found{% endtrans %}.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tag_new') }}" class=" btn btn-primary">{% trans %}Create new{% endtrans %}</a>
{% endblock %}
